---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import 'animate.css';

---
<MainLayout title="Om os">
	<div class="bg-[url('/Omos.svg')] h-screen col-span-full bg-no-repeat bg-contain">
<section class="text-blue-500 bg-pink-500 col-span-full p-4 pl-7 ml-8 m-2 rounded-full rounded-tl-none top-28 block">
	<h3>Hvad vil det sige at være neurodivergent?</h3>
	<p>At være neurodivergent betyder, at ens hjerne har atypiske  karakteristika og derfor kan diagnosticeres med f.eks. autisme, ADHD,  ADD, ordblindhed, OCD eller Tourettes syndrom. Ordet ”divergent” kan  oversættes til ”forskellig” eller ”anderledes” på dansk. Hvis man er  neurodivergent, betyder det altså, at man har en anderledes hjerne.</p>
</section>
<section class="text-blue-500 bg-pink-500 col-span-full grid grid-cols-3">
	<h3 class="col-span-full ">KASSER ER TIL ØL – IKKE TIL MENNESKER</h3>
	<img src="/infografik.svg" alt="">
	<p class="col-span-2 col-start-2">Mindst to tredjedele af voksne med fx autisme eller ADHD står i dag uden  for arbejdsmarkedet. Det vil vi ændre. Når du drikker øl fra People  Like Us, hjælper du os med at skabe en tryg arbejdsplads, hvor mennesker  med neurodivergente diagnoser kan udvikle  deres styrker og bidrage med  det, de er gode til, uden at gå på kompromis med dem, de er.</p>
</section>
<section class="text-blue-500 bg-pink-500 col-span-full p-4 pl-7 ml-8 m-2 rounded-full rounded-tr-none"><div>
	<label for="mail">E-mail:</label>
	<br />
	<input placeholder="detjo@mig.dk" type="text" id="mail" /><br />
  </div></section>
</div>
</MainLayout>