---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import 'animate.css';

---
<MainLayout title="Om os">
	<div class="bg-[url('/Omos.svg')] w-screen h-auto bg-no-repeat bg-cover grid grid-cols-10">
<section class="text-blue-500 bg-pink-500 col-span-full pb-4 pl-7 ml-14 m-2 rounded-[85px] rounded-tl-none top-32 relative">
	<h3 class="font-display text-lg font-semibold px-4">Hvad vil det sige at være neurodivergent?</h3>
	<p class="lg:font-medium lg:text-sm lg:px-40 font-sans text-xs px-4 text-blue-600">At være neurodivergent betyder, at ens hjerne har atypiske  karakteristika og derfor kan diagnosticeres med f.eks. autisme, ADHD,  ADD, ordblindhed, OCD eller Tourettes syndrom. Ordet ”divergent” kan  oversættes til ”forskellig” eller ”anderledes” på dansk. Hvis man er  neurodivergent, betyder det altså, at man har en anderledes hjerne.</p>
</section>
<section class="text-blue-500 bg-pink-500 col-span-full grid grid-cols-3 mt-36 p-2">
	<h3 class="font-display text-lg font-semibold px-4 col-span-full ">KASSER ER TIL ØL – IKKE TIL MENNESKER</h3>
	<img src="/infografik.svg" alt="">
	<p class="lg:font-medium lg:text-sm lg:px-40 font-sans text-xs p-5 text-blue-600 col-span-2">Mindst to tredjedele af voksne med fx autisme eller ADHD står i dag uden  for arbejdsmarkedet. Det vil vi ændre. Når du drikker øl fra People  Like Us, hjælper du os med at skabe en tryg arbejdsplads, hvor mennesker  med neurodivergente diagnoser kan udvikle  deres styrker og bidrage med  det, de er gode til, uden at gå på kompromis med dem, de er.</p>
</section>
 <section class="text-blue-500 bg-pink-500 col-span-full grid grid-cols-3 my-7">
	<h3 class="font-display text-lg font-semibold px-4 col-span-full ">Hvordan kan øl gøre en forskel? </h3>
	<p class="lg:font-medium lg:text-sm lg:px-40 font-sans text-xs p-5 text-blue-600 col-span-3">Mindst to tredjedele af voksne med neurodivergente diagnoser som fx autisme, ADHD og ADD står i dag uden for arbejdsmarkedet. Det vil vi ændre. Det gør vi ved at skabe en tryg arbejdsplads, hvor mennesker med anderledes hjerner kan udvikle  deres styrker og finde varigt fodfæste på arbejdsmarkedet. Gennem skræddersyede medarbejderforløb og dialog udvikler vi vores  medarbejderes sociale og faglige kompetencer, praktiske færdigheder og  selvtillid, så de kan bidrage med det, de er gode til, uden at gå på  kompromis med dem, de er. 
		Så nej, øl kan ikke gøre en forskel alene. Men det kan vi, der brygger øllet, og jer, der drikker det.</p>
</section>
<section class="text-blue-500 bg-pink-500 col-span-full grid grid-cols-3 my-7">
	<h3 class="font-display text-lg font-semibold px-4 col-span-full ">Hvorfor er der brug for social forandring?</h3>
	<p class="lg:font-medium lg:text-sm lg:px-40 font-sans text-xs p-5 text-blue-600 col-span-3">Antallet af personer med diagnoser som fx autisme og ADHD er stigende. Personer med psykiske diagnoser oplever ofte, at  de ikke passer ind i uddannelsessystemet, på arbejdsmarkedet eller i  andre sociale sammenhænge. Det har negative konsekvenser både for den enkelte, men også for samfundet.I People Like Us værdsætter vi neurodiversitet og betragter anderledes tænkende hjerner som en  kapacitet frem for en forhindring. Gennem en tillidsfuld og dialogbaseret kultur skaber vi et rum, hvor vores medarbejdere trygt og i  deres eget tempo kan opdage og udvikle deres særegne kompetencer og styrke deres værdi som mennesker og medarbejdere. På den måde skaber vi værdi for mennesker og for vores samfund. </p>

</section>
<section class="text-blue-500 bg-pink-500 col-span-full pl-5 ml-2 mr-20 mb-16  rounded-[60px] rounded-br-none">
	<h3 class="font-display text-lg font-semibold pt-5">BLIV EN DEL AF FÆLLESSKABET</h3>
	<p class="lg:font-medium lg:text-sm lg:px-40 font-sans text-sm my-2 pr-4 text-blue-600">Følg vores #Socialrevolutionbybeer. Vi lover ikke at  spamme dig, men vi elsker at dele succeshistorier fra vores team og når  vi brygger nye øl.</p>
	<div class="flex pb-5">
	<input class="border-yellow-500 bg-pink-500 text-blue-500 border-4 w-36 h-10" placeholder="detjo@mig.dk" type="text" id="mail" /><br />
	<Button type="submit" variant="quantriary" size="small">Tilmeld mig</Button>
</div>
</section>
	</div>
</MainLayout>