---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<div class="grid grid-cols-4 border-2 border-pink-500 my-5 mx-2 pr-2">
<div>
    <img class="h-full pr-2" src="public/olsmagning.webp" alt="">
</div>
<div class="grid-start-2 col-span-2 text-blue-500" >
    <h3 class="font-display text-xl text-blue-600">Ølsmagning</h3>
    <p class="font-sans text-[10px]">16. Maj</p>
    <p class="font-sans text-[10px]">17:00</p>
    <p class="font-sans text-[10px]">Amagercentret | People Like Us Bar</p>
</div>
<Button variant="tertiary" size="small">Køb Billetter</Button>
</div>