---
---
<div class="bg-pink-500  text-blue-500 grid grid-cols-3 gap-3">
    <div>
<img class="lg:w-32 m-3 w-20" src="/WithText.svg" alt="">
<p class="font-sans text-xs mx-2 mb-2">info@peoplelikeus.dk +45 50 17 17 20 CVR: 43885715</p>
</div>
<div><h3 class="font-sans text-sm font-bold">UDFORSK</h3>
    <p class="font-sans text-xs">UNTAPPD</p>
    <p class="font-sans text-xs">FACEBOOK</p>
    <p class="font-sans text-xs">INSTAGRAM</p>
    <p class="font-sans text-xs">LINKEDIN</p>
    <p class="font-sans text-xs">SMILEYRAPPORT BAR</p>
    <p class="font-sans text-xs">SMILEYRAPPORT BOTTLESHOP</p>
</div>
<div>
    <h3 class="font-sans text-sm font-bold">FIND OS</h3>
    <p class="font-sans text-xs">THE BEER BAR</p>
    <p class="font-sans text-xs">Jagtvej 135, 2200 Kbh N</p>
    <p class="font-sans text-xs">THE BOTTLESHOP</p>
    <p class="font-sans text-xs">Amagercentret, Reberbanegade 3, 2300 Kbh S</p>
</div>
<p class="font-sans text-[10px] col-span-full text-center">© 2024, People Like Us - Drevet af Shopify - RefusionspolitikPolitik om beskyttelse af persondata - Servicevilkår - Leveringspolitik -Kontaktinformation</p>
</div>
  